div {    
    border: green solid 3px;
    box-sizing: border-box;
    position: relative;

}
nav {
    display: block;
    border: salmon 3px solid;
    width: 150px;
    left: 0px;
    top: 0px;    
    color: salmon;
}

section {
    border: orange 3px solid; 
    margin-top: 0px;
    margin-left: 156px;
    position: relative;
    
   
}